<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MetroNavigation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>343BFB7A1EA802C100CEC472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>343BFB931EA802C100CEC472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>343BFB9E1EA802C100CEC472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>348FF1DC1EBFBB6000A71EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
